.card-style:hover{
    border: none;
    border-radius: 5%;
    opacity: 3;
    transition: .9s ease-out;
    color: white;
    background-color: #8b8b8b;
}

.cardImg:hover{
    border-radius: 0px 0px 70px 0px;
}