@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

.headerMainContainer {
    height: 90%;
    position: relative;
    background-image: url('../../../Image/appleBG.jpg');
    background-size: cover;
    width: 100%;
}

.textStyle {
    font-family: 'Mochiy Pop One', sans-serif;
}