/* Extra small devices (phones, 600px and down) */
// @media only screen and (max-width: 576.98px) {
  

// }

/* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 576px) {

// }

/* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {

// }

/* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {
// }

/* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
// }

.carousel-caption {
    position: absolute;
    width: 500px;
    top: 85px;
    text-align: center;
}